:host {
  font-size: 16px;
}
.snapped-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.snapped-heading-text {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-start;
}

.header-info-block {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.info-row {
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
}

.header-status-block {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}

.status-title {
  color: var(--sapTextColor);
  font-weight: 600;
}

.object-status {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.success {
    color: var(--sapPositiveColor);
  }

  &.error {
    color: var(--sapNegativeColor);
  }
}

.object-number {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;

  .number {
    font-weight: 300;
  }
}

.section-title {
  margin-bottom: 1rem;
  font-weight: 600;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 0.25rem;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.form-group-title {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--sapGroup_ContentBorderColor);

  &:first-child {
    margin-top: 0;
  }
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.form-label {
  color: var(--sapContent_LabelColor);
}


.products-section {
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.25rem;

  ui5-input {
    width: 17.5rem;
  }
}

ui5-dynamic-page::part(fit-content) {
  padding: 0;
}

ui5-tabcontainer::part(content) {
  border-bottom: none;
}

ui5-table-header-cell ui5-text {
  font-weight: 600;
}
