* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--sapFontFamily, "72", "72full", Arial, Helvetica, sans-serif);
  font-size: var(--sapFontSize, 0.875rem);
  background-color: var(--sapBackgroundColor, #f5f6f7);
}

